.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fceabb, #F7A4A4);
  
}
.login-header{
  text-align: center;
  color: #a1422d;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 600;
}

.login-box {
  background-color: white;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.8rem;
}

.login-box label {
  display: block;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #555;
  text-align: left;
}

.login-box input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.login-box input:focus {
  border-color: #F7A4A4;
  outline: none;
}

.login-btn {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #f8b500;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #e09e00;
}
.login-button{
    width: 50%;
    padding: 0.7rem;
    background-color: #464eb8;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}