.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #ffe8d6, #FEC5BB);
  color: #333;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  color: #000;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar p {
  margin: 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #a1422d;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.log-button,
.sign-up-button {
  background: #fff5f2;
  color: #a1422d;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-button:hover,
.sign-up-button:hover {
  background: #ffd3c2;
}

.log-button button,
.sign-up-button button {
  background: none;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  color: #a1422d;
  cursor: pointer;
}
